# Core Web/ASGI
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
httpx>=0.27.0
python-multipart>=0.0.9

# Frontend
streamlit>=1.28.0
plotly>=5.17.0

# LLM/NLP/Embedding/Vector DB

qdrant-client>=1.8.0
openai>=1.14.0  # Client compatible vLLM
sentence-transformers>=2.6.0  # Requis pour BGE-reranker-v2-m3 (CrossEncoder)

# Utils
pydantic>=2.6.0
pydantic-settings>=2.2.0
python-dotenv>=1.0.1
numpy>=1.26.0
pandas>=2.2.0
tqdm>=4.66.0
deep-translator>=1.11.4

# Observability
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-instrumentation-fastapi>=0.45b0
opentelemetry-exporter-otlp>=1.24.0

# Dev / Test
pytest>=8.1.0
pytest-asyncio>=0.23.0
black>=24.3.0
isort>=5.13.0


hf_transfer

langchain-core
mistralai